<template>
    <lightning-card class="noHeader">
            <h2 class="orcaHeader slds-text-align_left slds-text-title_bold slds-m-top_medium slds-m-bottom_medium">
                Child Component
            </h2>
            <div class="fform slds-form">
                    <!-- Payment Fields for check used for posting order -->
                    <!-- <lightning-card> -->
                        <lightning-input required autocomplete="off" type="text" label="Check Customer Identifier"
                            data-field="CheckCustomerIdentifier"> </lightning-input>
                        <lightning-input required autocomplete="off" type="text" label="Check Branch Routing"
                            data-field="CheckBranchRouting"> </lightning-input>
                        <lightning-input required autocomplete="off" type="text" label="Checking Account"
                            data-field="CheckingAccount"> </lightning-input>
                        <lightning-input required autocomplete="off" type="text" label="Check Number"
                            data-field="CheckNumber">
                        </lightning-input>
                    <!-- </lightning-card> -->
            </div>
        </lightning-card>
</template>