<template>
    <h2 class="orcaHeader slds-text-align_left slds-text-title_bold slds-m-top_medium slds-m-bottom_medium">
        Parent Component
    </h2>
    <c-child-cmp></c-child-cmp>
    <lightning-button label="Validate And Get Data" onclick={validateAndGetData}></lightning-button>
</template>